<!DOCTYPE html>
<html>
<head>
    <title>About Secret Manager</title>
    <link rel="stylesheet" href="/static/css/about.css">
</head>
<body>
    <header>
        <nav>
            <ul>`
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/loginn">Signup/Login</a></li>
            </ul>
        </nav>
        <h1>About Secret Manager</h1>
    </header>
    <div class="secret-manager">
        <h2>What is Secret Manager?</h2>
        <p>Secret Manager is a secure and easy-to-use web application designed to help you store and manage your sensitive information, 
            such as passwords, API keys, and other confidential data. With Secret Manager, you can keep your secrets safe, organized, 
            and easily accessible when you need them.</p>

        <h2>How to Use Secret Manager</h2>
        <p>Using Secret Manager is simple. Follow these steps:</p>
        <ol>
            <li>Create an account or log in to your existing account.</li>
            <li>Add a new secret by providing a name and the associated confidential information.</li>
            
            <li>Retrieve your secrets when needed, and Secret Manager will ensure they remain secure.</li>
        </ol>

        <h2>How to create an account?</h2>

        <p>Creating an account is simple,
          you only need to go to the Signup button below and fill out the forum created Make your own unique username,email and Password,
         after that you can Login and go to your own Secret Manager and create edit and delete secrets.
         </p>


         <h2>Proceduren how safe the wesbite is?</h2>
         

         <p>Keeping the website safe is always a big diffuculty thats why the programmer of this website tried making it more secure
            for the users by following User stories of an Secret Maneger website that covers the safety requirements of it
            The website safety precedures have also been checked and verified by a Proffesional programmer and years of 
            experience in Hacking.
         </p>

         <h2>Security errors</h2>

         <p>Security problems like SQL injections have been completely closed in your username 
            and URL have been closed of with the necesarry security messures so no user can inject or manipulate
            the codes.
         </p>



        <h2>Get Started Now!</h2>
        <p>Start managing your secrets with Secret Manager today. Sign up or log in to your account and keep your confidential data safe and accessible whenever you need it.</p>
        <a href="/loginn" class="button">Sign Up
        
    </div>
</body>

