<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/secrets.css">
    <title>Create Secret</title>
</head>

<body>
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-success">
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endwith %}
    
    <h1>SECRETS</h1>
   
     


     {% if username %}
     <p class="username-message">Hello, {{ username }}!</p>
     <p>Last logged in: {{ last_login_time }}</p> 
     <a href="{{ url_for('home.logout') }}" class="logout-button">Logout</a>
 {% endif %}
 


    <form method="post">
        <label for="content">Secret Content</label>
        <textarea name="content" id="content" rows="4" required></textarea>
        <br>
        <input type="submit" value="Create Secret">
    </form>

  
<h2>Your Secrets</h2>
<ul class="secret-list">
    {% for secret in secrets %}
    <li class="secret-item">
        {{ loop.index }}. {{ secret.content }}
        <form method="post" action="{{ url_for('home.edit_secret', secret_id=secret.id) }}">
            <input type="text" name="new_content" placeholder="Edit content">
            <button type="submit">Edit</button>
        </form>
        <form method="post" action="{{ url_for('home.delete_secret', secret_id=secret.id) }}">
            <button type="submit">Delete</button>
        </form>
    </li>
    {% endfor %}
</ul>


<div class="pagination">
    <ul>
        {% if page > 1 %}
        <li class="pagination-item">
            <a href="{{ url_for('home.create_secret', page=page-1) }}" class="pagination-link">Previous</a>
        </li>
        {% endif %}
        
        {% if page > (secrets | length + per_page - 1) // per_page %}
        <li class="pagination-item">
            <a href="{{ url_for('home.create_secret', page=page+1) }}" class="pagination-link">Next</a>
        </li>
        {% endif %}
    </ul>
</div>

<a href="{{ url_for('home.create_secret', page=2) }}" class="page2-link">
    <button class="page2-button">Go to Page 2</button>
</a>

</body>
</html>