body {
    font-family: Arial, sans-serif;
    background: url("/static/video/achtergrondsecret.jpg") center center no-repeat;
    background-size: cover;
}


h1 {
    text-align: center;
    color: #333;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    font-weight: bold;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    display: block;
    margin-top: 10px;
    background-color: #ff4d00;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #120a02;
}

h2 {
    text-align: center;
    color: #333;
}

ul.secret-list {
    list-style: none;
    padding: 0;
}

.secret-item {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.alert {
    text-align: center;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
}
video {
    margin: 0;
    padding: 0;
    overflow: hidden;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}


.pagination {
    margin-top: 20px;
}

.pagination ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.pagination-item {
    margin: 0 5px;
    display: inline;
}

.pagination-link {
    text-decoration: none;
    padding: 5px 10px;
    background-color: #ff4d00;
    color: #fff;
    border-radius: 5px;
}

.pagination-link:hover {
    background-color: #dcdee1;
}

/* Style for "Go to Page 2" button */
.page2-link {
    display: block;
    text-align: center;
    margin-top: 10px;
}

.page2-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.page2-button:hover {
    background-color: #1e7e34;
}

/* Add styles for the username message */
.username-message {
    font-size: 18px;
    font-weight: bold;
    color: #fa0000; 
    margin: 10px 0;
}


/* Add styles for the Logout button */
.logout-button {
    background-color: #d9534f; 
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}
